<aside class="bg-blue">
    <div class="container text-center">
        <div class="call-to-action">
            <h2>Check out the latest videos </h2>
            <br>
            <br>
                <button class="active btn" id="all">Show All</button>
                    <button class="btn" id="a">Coding Resources</button>
                         <button class="btn" id="b">Meetups</button>
                            <button class="btn" id="c">Inspiration</button>
                                <button class="btn" id="d">Bootcamps</button>
    
        </div>
    </div>
</aside>