<aside class="bg-blue">
    <div class="container text-center">
        <div class="call-to-action">
            <h2>Check out the latest videos </h2>
              <br>
              <button class="active btn" data-filter="box">Show All</button>
              <button class="btn" data-filter="coding-resources">Coding Resources</button>
              <button class="btn" data-filter="meetups">Meetups</button>
              <button class="btn" data-filter="inspiration">Inspiration</button>
              <button class="btn" data-filter="bootcamps">Bootcamps</button>
              <button class="btn" data-filter="misc">Misc</button>
        </div>
    </div>
</aside>