<section class="bg-dark" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Hi, I'm Amalia Cardenas</h2>
                <h2 class="section-heading">Sign up for my mailing list and I'll send you the very best of what I create. </h2>
                <hr class="light">
                  <form class="validate" id="mc-embedded-subscribe-form" action="//anybodycancode.us11.list-manage.com/subscribe/post?u=04c216bf20f1918eb0b82221b&amp;id=101ca80eba" method="post" name="mc-embedded-subscribe-form" novalidate=""target="_blank">
                    <input class="surveymonkey-form" type="text" name="FNAME" placeholder="Your first name" required="required">
                    <input class="surveymonkey-form" type="text" name="LNAME" placeholder="Your last name" required="required">
                    <input class="surveymonkey-form" type="email" name="EMAIL" placeholder="Your email address" required="required">
                    <input class="surveymonkey-button btn btn-default btn-xl" type="submit" value="Subscribe">
                  </form>
                </div>
            </div>
        </div>
    </div>
</section>
