<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="primary">
                <p>Thanks for stopping by. Let's help each other.  to get in touch, feel free to send an email to amalia@anybodycancode.com or get in touch via social media. All of the links are below. I'm looking forward to hearing from you.</p>
            </div>
        <div class="col-lg-3 col-md-6 text-center">
            <a href="https://twitter.com/{{ site.twitter_username }}">
                <i class="fa fa-twitter fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.twitter_username }}</p>
            </a>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
            <a href="mailto:{{ site.email }}">
            <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.email }}</p>
            </a>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
            <a href=" https://www.youtube.com/channel/UCAhVkExM_IB06IIMAM0M3Mw">
            <i class="fa fa-youtube fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.youtube_username }}</p>
            </a>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
            <a href="https://github.com/{{ site.github_username }}">
            <i class="fa fa-github fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.github_username }}</p>
            </a>
        </div>
    </div>
</section>
