<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Why I started this site</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                    <p class="text-muted">Ipsum Lorem Generator. This is Ipsum Lorem Generator for those who want to learn more abou Ipsum Lorem. Ipsum Lorem Generator. This is Ipsum Lorem Generator for those who want to learn more abou Ipsum Lorem.Ipsum Lorem Generator. This is Ipsum Lorem Generator for those who want to learn more abou Ipsum Lorem.Ipsum Lorem Generator. This is Ipsum Lorem Generator for those who want to learn more abou Ipsum Lorem.Ipsum Lorem Generator. This is Ipsum Lorem Generator for those who want to learn more abou Ipsum Lorem.Ipsum Lorem Generator. This is Ipsum Lorem Generator for those who want to learn more abou Ipsum Lorem.Ipsum Lorem Generator. This is Ipsum Lorem Generator for those who want to learn more abou Ipsum Lorem. </p>
            </div>
        </div>
    </div>
</section>
