<section class="no-padding" id="videos">
        <div class="container-fluid">
           <div id="parent">
            <div class="row no-gutter">
           <div class="col-lg-4 col-sm-6 box coding-resources">
               <a href="online-resources.html" class="portfolio-box gallery">
                   <img src="img/portfolio/coding-resources3.jpg" class="img-responsive" alt="">
                   <div class="portfolio-box-caption">
                       <div class="portfolio-box-caption-content">
                           <div class="project-category text-faded">
                               Coding Resources
                           </div>
                           <div class="project-name">
                               Best online resources to teach yourself to code
                           </div>
                       </div>
                   </div>
               </a>
           </div>
            <div class="col-lg-4 col-sm-6 box meetups">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/8.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Meetups
                            </div>
                            <div class="project-name">
                                Why you need to attend meetups if you are new to coding
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 box inspiration">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/3.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Inspiration
                            </div>
                            <div class="project-name">
                                Are you too old to learn to code? 
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 box bootcamps">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/4.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Coding Bootcamps
                            </div>
                            <div class="project-name">
                                Should you join a coding bootcamp? 
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-3 box misc">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/5.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Misc
                            </div>
                            <div class="project-name">
                                Coming soon 
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 box misc">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/6.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Misc
                            </div>
                            <div class="project-name">
                                Coming soon
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>



